@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .mobile-bg-only {
    background-image: none !important;
  }
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}
